.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}


#play-now {
    width: max-content;
    background-color: white;
    color: royalblue;
    margin: 0;
}

#play-now:hover {
    background-color: green;
    color: white;
}


form input[type="number"] {
    background-color: white;
    color: rgb(19, 19, 19);    
}




form label {
    color: white;
}
